<!-- Hero 2 - Version 1.0 1/6/22 -->
<mj-section background-color="#ffffff">
  <mj-column background-color="#ffffff">
    <mj-image src="https://via.placeholder.com/660x250.png" href="https://honeywellhome.com" width="660px" alt="" />
  </mj-column>
</mj-section>

<mj-section background-color="#ffffff" css-class="wrap-80">
  <mj-column background-color="#ffffff">
    <mj-text mj-class="h1"  align="center" padding="20px 0 10px">Lorem ipsum dolor sit amet</mj-text>
    <mj-text align="center" padding-top="10px" mj-class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</mj-text>
    <mj-raw>
      <tr>
        <td style="padding: 24px 0px;">
          <table cellpadding="0" cellspacing="0" role="presentation" align="center" style="margin: 0 auto;" class="button-size">
            <tr>
              <td bgcolor="#000000" style="mso-padding-alt: 15px 25px;" class="button">
                <a href="https://www.honeywellhome.com/us/en" target="_blank" style="font-family: 'Roboto', Arial, sans-serif; color: #ffffff; display: inline-block; font-size: 16px; line-height: 18px; padding: 15px 25px; text-decoration: none; text-align: center; font-weight: 700;">PRIMARY</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </mj-raw>
  </mj-column>
</mj-section>
<!-- End Hero 2 -->
