<mj-section background-color="#ffffff" css-class="wrap-40">
  <mj-column background-color="#ffffff" vertical-align="middle">
    <mj-text align="left" mj-class="h1" font-weight="700" padding="0" css-class="mobile-centered">Lorem ipsum dolor</mj-text>
  </mj-column>
  </mj-column>
</mj-section>
