<mjml>
  <mj-head>
    <mj-title></mj-title>
    <mj-attributes>
      <mj-breakpoint width="480px" />
      <mj-all padding="0" font-family="'Mulish', Arial, sans-serif" background-color="#ffffff"/>

      <mj-class name="h1" font-size="30px" line-height="38px" font-family="Arial, Helvetica, sans-serif" align="left" color="#333333" font-weight="700"/>
      <mj-class name="h2" font-size="20px" line-height="28px" font-family="Arial, Helvetica, sans-serif" align="left" color="#333333" font-weight="700"/>
      <mj-class name="lead" font-size="18px" line-height="24px" font-family="Arial, Helvetica, sans-serif" align="left" color="#333333" font-weight="700"/>
      <mj-text font-size="16px" line-height="24px" align="left" color="#333333" font-family="Arial, Helvetica, sans-serif"/>

      <mj-class name="mousetype" font-size="10px" line-height="14px" align="left" color="#58585b" />


    </mj-attributes>
    <mj-style inline="inline">

      a {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: inherit;
        color: #3498db;
        text-decoration:none;
      }

      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }

      .wrap-40 > table > tbody > tr > td {
        padding: 10px 40px !important;
      }
      .wrap-40-sides > table > tbody > tr > td {
        padding: 0px 40px !important;
      }
      .wrap-30 > table > tbody > tr > td {
        padding: 10px 30px !important;
      }
      .wrap-outside > table > tbody > tr > td {
        padding: 10px 22px !important;
      }
      .wrap-inside > table > tbody > tr > td {
        padding: 20px 12px !important;
      }
      .wrap-30-sides > table > tbody > tr > td {
        padding: 0px 30px !important;
      }
      .div-wrap > div > table > tbody > tr > td {
        padding: 10px 65px !important;
      }
      .bg-padding{
        padding: 40px 30px;
      }
      p{
        margin:0;
      }

    </mj-style>
    <mj-raw>
      <!--[if gte mso 9]>
      <style>
        div.list {Margin: 0 0 0 -20px;}
      </style>
      <![endif]-->
      <style type="text/css">
          @media only screen and (min-width:480px) {

            .mj-column-per-70 {
              width: 70% !important;
              max-width: 70%;
            }

            .mj-column-per-30 {
              width: 30% !important;
              max-width: 30%;
            }
          }
        </style>
    </mj-raw>
    <mj-style>

      /* .button:hover {
        background-color: #f7f7f7;
      }
      .button-red:hover {
        background-color: #e32e22;
      } */
      .mobile-hide {
        display: block;
      }
      .mobile-show {
        display: none;
      }
      .one-line {
        display: block;
        width:100%;
      }

      /* Alt text styles */
      .alt-text-logo img {
        font-size: 20px!important;
        font-weight: 700;
        font-family:'Mulish', Arial, Sans-serif;
        color: #021660;
      }

      @media all and (max-width: 480px){
        .wrap-40  > table > tbody > tr > td,
        .wrap-30  > table > tbody > tr > td,
        .wrap-outside  > table > tbody > tr > td{
          padding: 10px 20px !important;
        }
        .bg-padding{
          padding: 40px 15px !important;
        }

        .wrap-sides  > table > tbody > tr > td{
          padding: 0px 20px !important;
        }

        .wrap-inside  > table > tbody > tr > td{
          padding: 20px 0px !important;
        }

        .one-line {
          display: inline !important;
          width: auto !important;
        }

        .div-wrap > div > table > tbody > tr > td {
          padding: 10px !important;
        }

        .mobile-centered * {
          text-align: center !important;
          margin:0 auto;
        }

        .mobile-hide {
          display: none !important;
        }

        .mobile-show {
          display: block !important;
        }

        .mobile-border-hide *{
          border-left:none!important;
        }
        .wrap-hero-button {
          padding: 10px 15px !important;
        }

        .button-size {
          max-width: 600px !important;
          width: 100% !important;
        }

        .button-size a {
          display: block !important;
        }
      }

    </mj-style>


  </mj-head>
  <mj-body width="660px" background-color="#f7f7f7">


  <mj-include path="../templates/header-honeywell.mjml" />

  <mj-section background-color="#ffffff" css-class="wrap-40">
    <mj-column background-color="#ffffff"><mj-text mj-class="h1" color="#000000" align="center" padding-bottom="15px"><span class="one-line">It’s National Fire Prevention Week</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column background-color="#ffffff">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/6f3dc3a05c3554438bdf362f556618281d4f0a2835f23473e21868097534c575.jpg" href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/Learn-the-Sounds-of-Fire-Safety/" width="660px" alt="Firefighters" />
      </mj-column>
    </mj-section>


    <mj-section background-color="#ffffff" css-class="wrap-40">
      <mj-column background-color="#ffffff" css-class="wrap-40">
        <mj-text align="center" padding-top="30px" font-size="24px" line-height="34px" font-weight="400" padding-bottom="50px">
          <span class="one-line">Prevent a fire in your home with these tips</span>
        </mj-text>

          <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/26328fc8eb99330a4a2ba649194efec9a5e385c7b223649ac40bd25924227a85.png" alt="1" width="35" href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/Learn-the-Sounds-of-Fire-Safety/"/>
          <mj-text align="center" padding-top="20px" mj-class="h2" line-height="28px">
          <span class="one-line">Learn the sounds of fire prevention</span></mj-text>
          <mj-text align="center" padding-top="10px"  line-height="28px">
          A voice alarm can wake a child up to three times faster than a beeping sound. In a fire or CO emergency, this extra time is extremely valuable. Find additional tips to help keep your children safe.</mj-text>
        <mj-raw>
          <tr>
            <td style="padding: 20px 0px 50px;">
              <table cellpadding="0" cellspacing="0" role="presentation" align="center" style="margin: 0 auto;" class="button-size">
                <tr>
                  <td bgcolor="#337ab7" style="mso-padding-alt: 10px 20px;" class="button">
                    <a href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/Learn-the-Sounds-of-Fire-Safety/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #ffffff; display: inline-block; font-size: 14px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;">GET THE TIPS</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>

        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/b15dbb788b32f6e8e010c698545e41dc4acb38d627c23872c5ff2e18cf1d1fa1.png" alt="2" width="35" href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/a-homeowners-guide-to-fire-safety/" />
        <mj-text align="center" padding-top="20px" mj-class="h2" line-height="28px">
        <span class="one-line">Create a plan to keep your family safe</span></mj-text>
        <mj-text align="center" padding-top="10px"  line-height="28px">
      In the event that a fire breaks out in your home, you may have as little as two minutes to escape once the smoke alarm sounds. Discover how to create the right fire safety plan for your family.</mj-text>
      <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/6639cf6083a4da8993b50ab1c15f1a39c19efeb0cf1a50f57f717a5ac5b72ca5.png" alt="Read the guide" href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/a-homeowners-guide-to-fire-safety/" width="130px" padding="30px 0 70px 17px"/>

      <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/0867f56dee9f9ecb6031466e552d6379cf72a89c2fc562c66f1d77ec70e00d20.png" alt="3" width="35" href="https://www.resideo.com/us/en/products/security/" />
      <mj-text align="center" padding-top="20px" mj-class="h2" line-height="28px">
      <span class="one-line">Secure your home</span></mj-text>
      <mj-text align="center" padding-top="10px"  line-height="28px">
      Contact a security pro to learn how professionally installed smoke detectors and around-the-clock monitoring which can help save lives and greatly reduce damages to your home. </mj-text>
    <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/f109b6bd155a8d474ae14a978ac2f2ada876bf48974b03da25a0fc8e695922db.png" alt="Get started" href="https://www.resideo.com/us/en/products/security/" width="110px" padding="30px 0 40px 17px"/>
      </mj-column>
    </mj-section>

    <!-- End hero -->





    <mj-include path="../templates/footer.mjml" />
  </mj-body>
</mjml>
