<mjml>
  <mj-head>
    <mj-title></mj-title>
    <mj-include path="../styles/honeywell.mjml" />

  </mj-head>
  <mj-body width="660px">

    <mj-include path="../templates/header-honeywell.mjml" />

    <!-- Hero -->
    <mj-section background-color="#ffffff" css-class="wrap-40">
      <mj-column background-color="#ffffff">
        <mj-text mj-class="h2"  align="center" padding-bottom="20px">Prime Day is here!</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column background-color="#ffffff">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/a2e7c57956493d661ee0aefbc62489fddeef27146eced0e98176370a55e357a5.jpg" width="660px" alt="" />
      </mj-column>
    </mj-section>

    <mj-section background-color="#6fddf9" css-class="wrap-40">
      <mj-column background-color="#6fddf9">
        <mj-text mj-class="h2" align="center" padding-top="10px">Smart Features. Clever Friends. Big Savings.</mj-text>
        <mj-text align="center" padding-top="10px">Start your spring projects with a deal on a new smart thermostat &emdash; making it the center of your home. Then link your voice assistant to easily set temps, get alerts, and listen to music with just a simple command.</mj-text>
        <mj-raw>
          <tr>
            <td style="padding: 20px 0px;">
              <table cellpadding="0" cellspacing="0" role="presentation" align="center" style="margin: 0 auto;" class="button-size">
                <tr>
                  <td bgcolor="#ffffff" style="mso-padding-alt: 10px 30px;" class="button">
                    <a href="https://www.honeywellhome.com/us/en/deals-and-promotions/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #000000; display: inline-block; font-size: 14px; line-height: 18px; padding: 10px 30px; text-decoration: none; text-align: center; font-weight: 700;">SAVE NOW</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
        <mj-text mj-class="mousetype" align="center" padding-bottom="20px">see amazon for full offer details</mj-text>
      </mj-column>
    </mj-section>

    <!-- End hero -->


    <!-- Social Footer - mjml -->
    <mj-section background-color="#eeeeee">
      <mj-column  background-color="#eeeeee">
        <mj-spacer height="10px" />
      </mj-column>
    </mj-section>
    <mj-section background-color="#eeeeee" css-class="wrap-40-sides">
      <mj-column  background-color="#eeeeee" width="70%" vertical-align="middle">
        <mj-image src="https://media.4at5.net/email_domains/hnwl/248013/images/logo_honeywell_home_black2.png" alt="Honeywell Home" align="left" width="190" css-class="mobile-centered" href="https://www.honeywellhome.com/us/en" padding="10px 0" />
      </mj-column>
      <mj-column width="30%" vertical-align="middle">
        <mj-table style="text-align:center;background-color:#eeeeee;line-height:40px;padding:10px 0;">
          <tr>
            <td style="text-align:center;background-color:#eeeeee;"><a href="https://www.facebook.com/honeywellhome"><img src="http://media.4at5.net/email_domains/hnwl/standard/icon_social_fb_blk.png" alt="Facebook" width="40" style="display:block;margin:auto;" /></a></td>
            <td style="text-align:center;background-color:#eeeeee;"><a href="https://twitter.com/honeywell_home"><img src="http://media.4at5.net/email_domains/hnwl/standard/icon_social_tw_blk.png" alt="Twitter" width="40" style="display:block;margin:auto;" /></a></td>
            <td style="text-align:center;background-color:#eeeeee;"><a href="https://www.instagram.com/honeywell_home/"><img src="http://preview.4at5.net/email_domains/hnwl/126692/images/icon_social_in_blk.png" alt="Instagram" width="40" style="display:block;margin:auto;" /></a></td>
          </tr>
        </mj-table>
      </mj-column>
    </mj-section>
    <mj-section background-color="#eeeeee">
      <mj-column  background-color="#eeeeee">
        <mj-spacer height="10px" />
      </mj-column>
    </mj-section>

    <!-- End Social Footer - mjml -->
    <!-- Legal Footer - mjml -->


    <mj-section background-color="#ffffff" css-class="wrap-40">
      <mj-column  background-color="#ffffff">
        <mj-spacer height="10px" />
        <mj-text mj-class="mousetype">
          <sup>&dagger;</sup> Honeywell Home thermostats and apps work in both Fahrenheit and Celsius temperature scales.<br><br>

          Prime Day promotions are only available through Amazon.com.  Please note that product prices and availability are subject to change.  Prices and availability were accurate at the time this newsletter was sent, however, they may differ from those you see when you visit Amazon.com.<br><br>


          <span class="applefix">This email was sent by <a href="https://www.honeywellhome.com/" style="color:#58585b;text-decoration:underline;" target="_blank" class=""><font color="#58585b">www.honeywellhome.com</font></a> (Ademco, Inc), and was intended for: <a href="#" onclick="return-false" style="text-decoration:none;color:#58585b;"><font class="aol_color" color="#58585b"><span class="acr-field nl-dce-field" data-nl-expr="/context/profile/email" data-nl-type="string" contenteditable="false">Email (email)</span></font></a>. To avoid important emails being routed to your Junk folder instead of your Inbox, please add our email address to your contacts and trusted mail sources as specified by your email client or ISP. To contact us, click on the Support link&nbsp;below.</span>
        </mj-text>
        <mj-table width="310px" padding="30px 0">
          <tr>
            <td align="left" style="padding-right:12px;">
              <a href="https://www.honeywellhome.com/en/search#q=T9%20and%20T10&amp;t=all&amp;sort=relevancy" target="_blank"><img alt="FAQs" border="0" height="21" src="http://media.4at5.net/email_domains/hnwl/179931/faqs.jpg" style="display:block;" width="14"></a>
            </td>
            <td align="left" class="rightPadding12" style="font-family:Arial, Helvetica, sans-serif;color:#333333;font-size:13px;line-height:17px;padding-right:24px;word-break:keep-all;">
              <a href="https://www.honeywellhome.com/en/search#q=T9%20and%20T10&amp;t=all&amp;sort=relevancy" style="color:#333333;text-decoration:none;word-break:keep-all;" target="_blank">FAQs</a>
            </td>

            <td align="left" style="padding-right:12px;"><a href="http://www.honeywellhome.com/Email-Prefs-Updated" target="_blank"><img alt="Email settings" border="0" height="22" src="http://media.4at5.net/email_domains/hnwl/179931/emailSettings.jpg" style="display:block;" width="22"></a></td>
            <td align="left" class="rightPadding12" style="font-family:Arial, Helvetica, sans-serif;color:#333333;font-size:13px;line-height:17px;padding-right:24px;word-break:keep-all;"><a href="http://www.honeywellhome.com/Email-Prefs-Updated" style="color:#333333;text-decoration:none;word-break:keep-all;" target="_blank">Email settings</a></td>

            <td align="left" style="padding-right:12px;"><a href="https://www.honeywellhome.com/en/support" target="_blank" class=""><img alt="Support" border="0" height="21" src="http://media.4at5.net/email_domains/hnwl/179931/support.jpg" style="display:block;" width="22"></a></td>
            <td align="left" style="font-family:Arial, Helvetica, sans-serif;color:#333333;font-size:13px;line-height:17px;word-break:keep-all;"><a href="https://www.honeywellhome.com/en/support" style="color:#333333;text-decoration:none;word-break:keep-all;" target="_blank" class="">Support</a></td>
          </tr>
        </mj-table>
        <mj-text mj-class="mousetype"><a href="#" style="color:#58585b;text-decoration:underline;" target="_blank" data-nl-type="externalLink" data-nl-lnkep-perso-attr-href="http://email.honeywellhome.com/honeywellPrefCenter.jsp?key=&amp;lt;%= context.profile.cusCustomerIdHash %&amp;gt;">Unsubscribe</a> | <a href="#" style="color:#58585b;text-decoration:underline;" target="_blank" data-nl-type="externalLink" data-nl-lnkep-perso-attr-href="&lt;span class=&quot;acr-block nl-dce-fragment&quot; data-nl-name=&quot;MirrorPageUrl&quot; contenteditable=&quot;false&quot;&gt;Mirror page URL&lt;/span&gt;">View in browser</a> | <a href="https://www.resideo.com/us/en/corporate/legal/privacy/english/" target="_blank" style="color:#58585b;text-decoration:underline;">Privacy Policy</a></mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#eeeeee" css-class="wrap-40">
      <mj-column  background-color="#eeeeee">
        <mj-spacer height="10px" />
        <mj-raw>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
              <tr>
                <td align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#58585b;width:90px;" valign="top" width="90"><span class="applefix"><a href="https://www.resideo.com/us/en/" target="_blank" class=""><img border="0" src="http://media.4at5.net/email_domains/hnwl/0189/images/logo_resideo_black.png" style="display:block;padding:0px 0px 10px 0px;" width="74"></a> </span></td>
                <td align="left" style="font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#58585b;line-height:14px;padding:0px 0px 0px 10px;" valign="top">©<span class="acr-block nl-dce-fragment" data-nl-label="Current Year (yes_Current_Year)" data-nl-name="yes_Current_Year" contenteditable="false">Current Year</span>Resideo Technologies, Inc. All rights reserved.<br>
                  The Honeywell Home trademark is used under license from Honeywell International, Inc.<br>
                  These products are manufactured by Resideo Technologies, Inc., and its affiliates.<br>
                  901 E 6th St. Austin, TX 78702</td>
              </tr>
            </tbody>
          </table>
        </mj-raw>
      </mj-column>
    </mj-section>

    <mj-section background-color="#eeeeee">
      <mj-column  background-color="#eeeeee">
        <mj-spacer height="10px" />
      </mj-column>
    </mj-section>

    <!-- End Legal Footer - mjml -->
  </mj-body>
</mjml>
