<mjml>
  <mj-head>
    <mj-title></mj-title>
    <mj-include path="../styles/honeywell.mjml" />

  </mj-head>

  <mj-body width="660px" background-color="#f7f7f7" css-class="body">
    <mj-section background-color="#f7f7f7">
      <mj-column background-color="#f7f7f7" padding="20px 30px">
        <mj-text color="#333333" font-size="14px" font-family="Arial, Helvetica, sans-serif">Upgrade with whole home solutions. </mj-text>
        <mj-raw>
          <tr>
            <td style="display:none !important;visibility:hidden;mso-hide:all;font-size:1px;color:#f7f7f7;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
              Take a look inside for the latest from Honeywell Home
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>

    <mj-include path="../templates/header-honeywell.mjml" />

    <!-- Hero -->
    <mj-section background-color="#ffffff" css-class="wrap-40">
      <mj-column background-color="#ffffff">
        <mj-text mj-class="h1"  align="center" padding-bottom="20px">Home security tips&nbsp;to&nbsp;know before&nbsp;your&nbsp;getaway</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column background-color="#ffffff">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/58bd3d861431844e8db386919407e6a5480a9af5ead95cabae75d21bacaf13b8.jpg" href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/how-to-help-prevent-a-home-break-in-advice-from-a-professional/" width="660px" alt="Secure your home from your smart phone or tablet"/>


      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff" css-class="wrap-80">
      <mj-column background-color="#ffffff">
        <mj-text mj-class="lead" font-weight="400" align="center" padding-top="20px">Get expert advice from Marvin Smith, CEO of Orlando Emergency Signal, and learn how to help keep your house safe and secure during your vacation.</mj-text>
        <mj-raw>
          <tr>
            <td style="padding: 20px 0px 30px;">
              <table cellpadding="0" cellspacing="0" role="presentation" align="center" style="margin: 0 auto;" class="button-size">
                <tr>
                  <td bgcolor="#000000" style="mso-padding-alt: 15px 25px;" class="button">
                    <a href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/how-to-help-prevent-a-home-break-in-advice-from-a-professional/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #ffffff; display: inline-block; font-size: 16px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;">SEE HOW</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>

    <!-- End hero -->

    <!-- Alternating columns -->

    <mj-section background-color="#EBEBEB" direction="rtl">
      <mj-column background-color="#EBEBEB" vertical-align="middle">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/26ecd6dac57a1fd43da036b8c14ab46631f7c04688c927221e85ac981622f26c.jpg" href="https://www.resideo.com/us/en/products/" css-class="mobile-hide" href="Shop all products" align="right" alt="" width="330px" />
        <mj-raw>
          <!--[if !mso | IE]-->
        </mj-raw>
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/78f303ee0e76bc5fdc10266af134fd80ee082d8a0b8b45c9a82ac4516cfecd90.jpg" href="https://www.resideo.com/us/en/products/" width="660px" alt="" css-class="mobile-show" />
        <mj-raw>
          <!--[if !mso | IE]-->
        <mj-raw>
          <!--[endif]-->
        </mj-raw>
      </mj-column>
      <mj-column background-color="#EBEBEB" css-class="wrap-40" vertical-align="middle">
        <mj-text css-class="mobile-centered" mj-class="h2" font-size="28px" line-height="34px" padding-bottom="10px">
          Discover whole home solutions
        </mj-text>
        <mj-text css-class="mobile-centered" mj-class="lead" font-weight="400">
          Browse a wide selection of Honeywell Home products to find the right fit for your needs, along with a local pro who can install it.
          </mj-text>
          <mj-raw>
            <tr>
              <td style="padding: 20px 0px;">
                <table cellpadding="0" cellspacing="0" role="presentation" align="left" style="margin: 0;" class="button-size">
                  <tr>
                    <td bgcolor="#000000" style="mso-padding-alt: 15px 25px;" class="button">
                      <a href="https://www.resideo.com/us/en/products/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #ffffff; display: inline-block; font-size: 16px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;">SHOP PRODUCTS</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </mj-raw>

      </mj-column>
    </mj-section>
    <!-- End alternating columns -->
    <mj-section background="#EBEBEB">
      <mj-group background-color="#EBEBEB">
        <mj-column background-color="#EBEBEB">
          <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/f09ac05e1e8838d4febf0aeab0a50f896915e98c4c1fc3e2a7b54ca127093a64.jpg" alt="ProSeries Indoor MotionViewer" width="220px" href="https://www.resideo.com/us/en/products/security/security-accessories/proseries-wireless-indoor-motionviewer-proindmv/" />
        </mj-column>
        <mj-column background-color="#EBEBEB">
          <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/3a3aaaa16a036bd582b997e8569edfb871896528c79c5c403348a53c78464d75.jpg" alt="ProSeries 7 Inch Wireless Touchscreen" width="220px" href="https://www.resideo.com/us/en/products/security/security-accessories/prowltouch-proseries-7-inch-wireless-touchscreen-prowltouch/" />
        </mj-column>
        <mj-column background-color="#EBEBEB">
          <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/9d524b5bacddf64d8ea3a067da03676814ae7df6395e667231bc9b483704fa2c.jpg" alt="T6 Pro Z-Wave Thermostat" width="220px" href="https://www.resideo.com/us/en/products/air/thermostats/programmable-thermostats/t6-pro-z-wave-thermostat-th6320zw2003-u/" />
        </mj-column>
      </mj-goup>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column background-color="#ffffff">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/0f5b56358c7a30efb7089f583bf9970b9829fe37e8227fdf9b2510d23c7ac049.jpg" href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/learn-about-the-6-components-of-indoor-air-quality/" width="660px" alt="Learn about the 6 components of indoor air quality" padding-top="30px" />
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff" css-class="wrap-80">
      <mj-column background-color="#ffffff">
        <mj-text mj-class="h2" align="center" padding-top="20px">Staycation this year?</mj-text>
        <mj-text mj-class="lead" font-weight="400" align="center" padding-top="10px">Breathe easier after identifying the six factors that play a part in your indoor air quality.</mj-text>
        <mj-raw>
          <tr>
            <td style="padding: 20px 0px 30px;">
              <table cellpadding="0" cellspacing="0" role="presentation" align="center" style="margin: 0 auto;" class="button-size">
                <tr>
                  <td bgcolor="#000000" style="mso-padding-alt: 15px 25px;" class="button">
                    <a href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/learn-about-the-6-components-of-indoor-air-quality/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #ffffff; display: inline-block; font-size: 16px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;">LEARN MORE</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>

    <!-- End hero -->


    <mj-include path="../templates/footer.mjml" />

    <!-- End Legal Footer - mjml -->
  </mj-body>
</mjml>
