<mjml>
  <mj-head>
    <mj-title></mj-title>
    <mj-attributes>
      <mj-breakpoint width="480px" />
      <mj-all padding="0" font-family="'Mulish', Arial, sans-serif" background-color="#ffffff"/>

      <mj-class name="h1" font-size="32px" line-height="38px" font-family="Arial, Helvetica, sans-serif" align="left" color="#333333" font-weight="700"/>
      <mj-class name="h2" font-size="22px" line-height="28px" font-family="Arial, Helvetica, sans-serif" align="left" color="#333333" font-weight="700"/>
      <mj-class name="lead" font-size="18px" line-height="24px" font-family="Arial, Helvetica, sans-serif" align="left" color="#333333" font-weight="700"/>
      <mj-text font-size="16px" line-height="24px" align="left" color="#333333" font-family="Arial, Helvetica, sans-serif"/>

      <mj-class name="mousetype" font-size="10px" line-height="14px" align="left" color="#58585b" />


    </mj-attributes>
    <mj-style inline="inline">

      a {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: inherit;
        color: #3498db;
        text-decoration:none;
      }

      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }

      .wrap-40 > table > tbody > tr > td {
        padding: 10px 40px !important;
      }
      .wrap-40-sides > table > tbody > tr > td {
        padding: 0px 40px !important;
      }
      .wrap-30 > table > tbody > tr > td {
        padding: 10px 30px !important;
      }
      .wrap-outside > table > tbody > tr > td {
        padding: 10px 32px !important;
      }
      .wrap-inside > table > tbody > tr > td {
        padding: 20px 22px !important;
      }
      .wrap-30-sides > table > tbody > tr > td {
        padding: 0px 30px !important;
      }
      .div-wrap > div > table > tbody > tr > td {
        padding: 10px 65px !important;
      }
      .bg-padding{
        padding: 40px 30px;
      }
      p{
        margin:0;
      }

    </mj-style>
    <mj-raw>
      <!--[if gte mso 9]>
      <style>
        div.list {Margin: 0 0 0 -20px;}
      </style>
      <![endif]-->
      <style type="text/css">
          @media only screen and (min-width:480px) {

            .mj-column-per-70 {
              width: 70% !important;
              max-width: 70%;
            }

            .mj-column-per-30 {
              width: 30% !important;
              max-width: 30%;
            }
          }
        </style>
    </mj-raw>
    <mj-style>

      /* .button:hover {
        background-color: #f7f7f7;
      }
      .button-red:hover {
        background-color: #e32e22;
      } */
      .mobile-hide {
        display: block;
      }
      .mobile-show {
        display: none;
      }
      .one-line {
        display: block;
        width:100%;
      }

      /* Alt text styles */
      .alt-text-logo img {
        font-size: 20px!important;
        font-weight: 700;
        font-family:'Mulish', Arial, Sans-serif;
        color: #021660;
      }

      @media all and (max-width: 480px){
        .wrap-40  > table > tbody > tr > td,
        .wrap-30  > table > tbody > tr > td,
        .wrap-outside  > table > tbody > tr > td{
          padding: 10px 20px !important;
        }
        .bg-padding{
          padding: 40px 15px !important;
        }

        .wrap-sides  > table > tbody > tr > td{
          padding: 0px 20px !important;
        }

        .wrap-inside  > table > tbody > tr > td{
          padding: 20px 0px !important;
        }

        .one-line {
          display: inline !important;
          width: auto !important;
        }

        .div-wrap > div > table > tbody > tr > td {
          padding: 10px !important;
        }

        .mobile-centered * {
          text-align: center !important;
          margin:0 auto;
        }

        .mobile-hide {
          display: none !important;
        }

        .mobile-show {
          display: block !important;
        }

        .mobile-border-hide *{
          border-left:none!important;
        }
        .wrap-hero-button {
          padding: 10px 15px !important;
        }

        .button-size {
          max-width: 600px !important;
          width: 100% !important;
        }

        .button-size a {
          display: block !important;
        }
      }

    </mj-style>


  </mj-head>
  <mj-body width="660px" background-color="#f7f7f7">


    <!-- Header - Version 1.0, 7/29/20 -->
        <mj-section background-color="#f7f7f7">
          <mj-column background-color="#f7f7f7" padding="20px 30px">
            <mj-text color="#333333" font-size="14px" font-family="Arial, Helvetica, sans-serif">Pre-header text</mj-text>
          </mj-column>
        </mj-section>
        <mj-section background-color="#cceef8">
          <mj-column background-color="#cceef8" padding="40px 40px 40px 40px">
            <mj-image src="https://media.4at5.net/email_domains/hnwl/248013/images/logo_honeywell_home_black2.png" alt="Honeywell Home" width="220" align="center" css-class="alt-text-logo" href="https://www.honeywellhome.com/us/en" padding-bottom="30px" />

        <mj-text mj-class="h1" color="#000000" align="center" padding-bottom="10px">Take the steam out of summer</mj-text>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff">
      <mj-column background-color="#ffffff">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/40ace14cc2265c070c22649c088cc7f375997851be3e74e4715aa612337fca15.jpg" href="https://www.resideo.com/us/en/solutions/summer-tips/" width="660px" alt="Father and son splashing in the pool" />
      </mj-column>
    </mj-section>


    <mj-section background-color="#ffffff" css-class="wrap-40">
      <mj-column background-color="#ffffff">
        <mj-text align="center" padding-top="20px" font-size="18px" line-height="28px">
          Beat the heat with our coolest products and advice for saving energy, lowering temps, and reducing water use.</mj-text>
        <mj-raw>
          <tr>
            <td style="padding: 20px 0px;">
              <table cellpadding="0" cellspacing="0" role="presentation" align="center" style="margin: 0 auto;" class="button-size">
                <tr>
                  <td bgcolor="#ffffff" style="mso-padding-alt: 10px 20px;border-radius:2px;" class="button">
                    <a href="https://www.resideo.com/us/en/solutions/summer-tips/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #000000; display: inline-block; font-size: 14px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;border:3px solid #000000;border-radius:2px;">SEE HOW</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>

    <!-- End hero -->


    <!-- Alternating columns -->
    <mj-section background-color="#fff" css-class="wrap-outside">
      <mj-column background-color="#fff" css-class="wrap-inside">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/1ccdcf7999e3822ec9d816260700197d3062ceb91e3b32f27c753035b3230dcd.jpg" href="https://www.resideo.com/us/en/utility-savings-programs/#save" alt="Laptop open, by the pool" width="254px" align="left" css-class="mobile-centered"/>
      </mj-column>
      <mj-column background-color="#fff" css-class="wrap-inside">
        <mj-text css-class="mobile-centered" font-size="26px" line-height="30px" padding-bottom="10px">
          <strong>Fresh ways to save with utilities</strong></mj-text>
        <mj-text css-class="mobile-centered" font-size="18px" line-height="28px">
          Don’t miss out on upgrade rebates, bill credits, thermostat optimization, and more.</mj-text>
        <mj-raw>
          <tr>
            <td style="padding: 20px 0px;">
              <table cellpadding="0" cellspacing="0" role="presentation" align="left" style="margin: 0;" class="button-size">
                <tr>
                  <td bgcolor="#ffffff" style="mso-padding-alt: 10px 20px;border-radius:2px;" class="button">
                    <a href="https://www.resideo.com/us/en/utility-savings-programs/#save" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #000000; display: inline-block; font-size: 14px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;border:3px solid #000000;border-radius:2px;">SEE HOW TO SAVE</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>

    <mj-section background-color="#ffffff" css-class="wrap-outside" direction="rtl">
      <mj-column background-color="#ffffff" css-class="wrap-inside">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/6d720d23c05f2831c399077b96d6359912e7612ddb351cda549d5528eae69223.jpg" href="https://www.honeywellhome.com/us/en/find-a-pro/" alt="Worker chatting with homeowner" width="254px" align="left" css-class="mobile-centered"/>
      </mj-column>
      <mj-column background-color="#ffffff" css-class="wrap-inside">
          <mj-text css-class="mobile-centered" font-size="26px" line-height="30px" padding-bottom="10px"><strong>Reminder: Schedule a HVAC inspection</strong></mj-text>
          <mj-text css-class="mobile-centered" font-size="18px" line-height="28px">Did you know that half of energy costs can go to cooling a home? Contact a pro for an HVAC inspection that can make sure your AC is working the way it should.</mj-text>
          <mj-raw>
            <tr>
              <td style="padding: 20px 0px;">
                <table cellpadding="0" cellspacing="0" role="presentation" align="left" style="margin: 0;" class="button-size">
                  <tr>
                    <td bgcolor="#ffffff" style="mso-padding-alt: 10px 20px;border-radius:2px;" class="button">
                      <a href="https://www.honeywellhome.com/us/en/find-a-pro/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #000000; display: inline-block; font-size: 14px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;border:3px solid #000000;border-radius:2px;">FIND A PRO</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </mj-raw>

      </mj-column>
    </mj-section>

    <mj-section background-color="#fff" css-class="wrap-outside">
      <mj-column background-color="#fff" css-class="wrap-inside">
        <mj-image src="http://resideo-mkt-prod1-res.adobe-campaign.com/res/resideo_mkt_prod1/9a83c8924e1a1f7868a3f768c66b6d0aabb7b2c173b53f2aba6a772a20b573be.jpg" href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/smart-and-safe-solutions-for-each-room-in-your-home/" alt="Woman walking in home" width="254px" align="left" css-class="mobile-centered"/>
      </mj-column>
      <mj-column background-color="#fff" css-class="wrap-inside">
        <mj-text css-class="mobile-centered" font-size="26px" line-height="30px" padding-bottom="10px">
          <strong>Explore your future home</strong></mj-text>
        <mj-text css-class="mobile-centered" font-size="18px" line-height="28px">
          Even as the world returns to normal, new ways of living remain. Read how our full range of connected smart home products can help you keep up.</mj-text>
        <mj-raw>
          <tr>
            <td style="padding: 20px 0px;">
              <table cellpadding="0" cellspacing="0" role="presentation" align="left" style="margin: 0;" class="button-size">
                <tr>
                  <td bgcolor="#ffffff" style="mso-padding-alt: 10px 20px;border-radius:2px;" class="button">
                    <a href="https://www.resideo.com/us/en/corporate/newsroom/featured-articles/smart-and-safe-solutions-for-each-room-in-your-home/" target="_blank" style="font-family: Arial, Helvetiva, sans-serif; color: #000000; display: inline-block; font-size: 14px; line-height: 18px; padding: 10px 20px; text-decoration: none; text-align: center; font-weight: 700;border:3px solid #000000;border-radius:2px;">READ MORE</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </mj-raw>
      </mj-column>
    </mj-section>
    <!-- End alternating columns -->


    <mj-include path="../templates/footer.mjml" />
  </mj-body>
</mjml>
